/* Default and general stylings  */

body {
  background-color: #EFF2EB;
}

.float-left {
  float: left;
  margin-right: 25px;
}

 .float-right {
  float: right;
  margin-left: 25px;
}

/* Header and navigation bar styling */
nav {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #8DA6B5;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
  color:#CFDFE6;
}

.seo {
  color:rgba(0,0,0,.5);
}

h1 .seo:hover {
  color:#CFDFE6;
}

/* Display background photo */
header {
  height: 800px;
  width: 100%;
  margin-top: 0.3%;
  margin-bottom: 0.3%;
  background-image: url("../images/digital-marketing-meeting.jpg");
  background-size: cover;
  background-position: center;
}

/* Website main section styling */
.content-item {
  margin-bottom: 0.3%;
  padding: 5% 10%;
  height: 33%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: #8DA6B5;
  color: #ffffff;
}

.content-item img {
  max-height: 13rem;
}

h2 {
  margin-bottom: 1.25rem;
  font-size: 2.5rem;
  color:rgba(0,0,0,.5) ;
  font-weight: 300;
}

main {
  width: 75%;
  display: inline-block;
  margin-left: 0.3%;
}

main p {
  font-size: 1.2rem;
  line-height: 150%;
  font-weight: 100;
  text-align: justify;
}

/* Aside item styling */
aside {
  margin-right: 0.3%;
  padding: 1.2rem;
  float: right;
  width: 24.1%;
  height: 100%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color:#8DA6B5;
}

.benefit-item {
  margin-bottom: 0.3%;
  padding: 2% 9%;
  color: #ffffff;
}

h3 {
  font-size: 1.7rem;
  margin-bottom: 1rem;
  font-weight: 500;
  color:#CFDFE6;
  text-align: center;
}

.benefit-item img {
  display: block;
  margin: 4% auto;
  max-width: 120px;
}

aside p {
  font-size: 1rem;
  line-height: 150%;
  font-weight: 100;
  padding: 2%;
  text-align: center;
  color: #ffffff;
}

/* Footer styling */
footer {
  padding: 30px;
  clear: both;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  text-align: center;
  font-size: xx-small;
  color: #A4A6A1;
}

footer a {
  color: #A4A6A1;
}

footer a:hover {
  color: black;
  text-decoration: none;
}

h4 {
 font-size: small;
}
